extends layout


//- start each pages
block container

    .breadcrumbs-lr
        .wrap
            ul
                li 
                    a(href="index.html") 首頁
                li 
                    a(href="about01.html") 關於我們                    
                li.now 公司願景

    //- news
    .container
        .sidebar
            .sidebar-title 關於我們
            ul
                li: a(href="about01.html") 關於我們
                li: a(href="about02.html") 公司願景

        .content
            .content-title 公司願景
            .about-con
                .con-100
                    img(src="/assets/img/about4.jpg", alt="立榮租賃公司公司願景",title="立榮租賃公司公司願景").comp-img

                .con-100
                    .slo
                        strong.blue 誠信／專業
                        strong.green 積極／多元化

                    p 提供客戶最有利且便捷的服務為目的，建立最新貸款資訊的平台，使客戶取得最優惠的方案。秉持著以客為尊的信念，為顧客評估有效的理財方案，不斷擴展專業知識，為客戶創造最大的福𧘲。
                    p 公司將朝更多元化的服務邁進，以服務顧客的需求為目標，開發更豐富的理財優惠服務，以誠信、專業、積極、多元化的態度成為最佳理財、貸款的忠實夥伴。
                    p 未來，並成立最優秀的金融商品服務團隊，為顧客提供最專業的服務及協助。
                







    //- end each pages
