extends layout


//- start each pages
block container

    .breadcrumbs-lr
        .wrap
            ul
                li 
                    a(href="index.html") 首頁
                li.now 聯絡我們

    //- news
    .container
        .sidebar
            .sidebar-title 聯絡我們
            ul
                li: a(href="contact01.html") 線上申請
                li: a(href="contact02.html") 聯絡我們

        .content
            .content-title 聯絡我們
            .contact-con
                ul.contact-list
                    li
                        h2 高雄總公司
                    li 高雄市鳳山區自由路224號12F-4(高雄捷運鳳山西站2號出口)
                    li 服務專線: 07-746-8331
                    li 傳真專線: 07-790-1509
                .has-map
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.7566519871966!2d120.3487888!3d22.625560699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e1b4a2f7b5a37%3A0x6cbfe5aba27bdb11!2zODMw6auY6ZuE5biC6bOz5bGx5Y2A6Ieq55Sx6LevMjI06Jmf!5e0!3m2!1szh-TW!2stw!4v1441526663185" width="760" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>





    //- end each pages
