extends layout


//- start each pages
block container

    .breadcrumbs-lr
        .wrap
            ul
                li 
                    a(href="index.html") 首頁
                li.now 線上申請

    //- news
    .container
        .sidebar
            .sidebar-title 聯絡我們
            ul
                li: a(href="contact01.html") 線上申請
                li: a(href="contact02.html") 聯絡我們

        .content
            .content-title 線上申請
            .contact-con
                h2.title 聯絡表單
                .contact-form
                    p (親愛的客戶您好，歡迎填寫以下表單與我們聯絡，我們會有專人儘快與您聯繫)
                    .con-div
                        .con-48
                            label 聯絡人
                            input(type="text", placeholder="王老闆")

                    .con-div
                        .con-48
                            label 公司名稱
                            input(type="text", placeholder="王老闆企業社")
                        .con-48
                            label 統一編號
                            input(type="text", placeholder="12345678")

                    .con-div
                        .con-48
                            label 聯絡電話
                            input(type="text", placeholder="07-1234567")
                        .con-48
                            label 行動電話
                            input(type="text", placeholder="0912123456")

                    .con-div
                        .con-48
                            label 聯絡時間
                            input(type="text", placeholder="上午")
                        .con-48
                            label E-mail
                            input(type="text", placeholder="abc@gmail.com")                                
                    .con-div
                        .con-98
                            label 意見欄
                            textarea(placeholder="請留下您寶貴的意見...")

                .code-wrap
                    img(src="/assets/img/vcode1.jpg",width="226", height="65")
                    input(type="text", placeholder="請輸入上方圖片顯示的字")

                .btn-wrap
                    a(href="#").btn.btn-blue 確認送出
                    a(href="/assets/download/ApplicationForms.pdf",download="ApplicationForms.pdf").btn.btn-green 申請書下載
                p.note ( 親愛的客戶您好，由於個人資料之蒐集，涉及您的隱私權益，當我們向您蒐集個人資料時，我們會依據個人資料保護法規定辦理 )





    //- end each pages
