.footer-t-outer
	.wrap
		section.footer-top
			.footer-menu
				ul
					li: a(href="news.html") 最新消息
					li: a(href="services01.html") 服務項目
					li: a(href="about01.html") 關於我們
					li: a(href="contact01.html") 聯絡我們
					li: a(href="joinus.html") 加入我們

			a.backTop TOP

		section.footer-bottom
			.footer-line
				span.line-color <span class="icon-line"></span>線上客服
				img(src="/assets/img/line-id.jpg",alt="Line QR code")
			.footer-info
				ul
					li
						b 全國服務專線
						span.tel 07-746-8331
					li 週一至週五
						span 8:30－18:00
					li 高雄市鳳山區自由路224號12F-4
					li 傳真專線 : 07-790-1509

.footer-b-outer
	.wrap
		.footer-logo 
			img(src="/assets/img/footer-logo.png", width="160" height="48")
		.copyright © 2015 立榮租賃有限公司 All Right Reserved.
















script( src="../assets/js/jquery-2.1.4.min.js" )
script( src="../assets/js/functions.js" type="text/javascript" )