doctype
html( lang="en")
  head
    title
    meta( charset="utf-8" )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' ) 
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='' )
    link( rel="shortcut favicon.ico" href="assets/img/favicons/favicons.ico" )
    link( rel="stylesheet" href="assets/css/main.css" )

  body
    //- about
    include about





    //- footer
    include footer