extends layout


//- start each pages
block container

    .breadcrumbs-lr
        .wrap
            ul
                li 
                    a(href="index.html") 首頁
                li.now 加入我們

    //- news
    .container
        .sidebar
            .sidebar-title 加入我們

        .content
            .content-title 加入我們
            .joinus-con
                .joinus-intro
                    h3 專業的團隊。在地的服務
                    p 立榮租賃深耕租賃市場多年，目前公司編制內有56個電訪人員，10個行政人員。因應企業主賃款市場規模不斷擴大，業績持續的成長，公司持續的在招募優秀的人員加入。歡迎有企圖心，想挑戰高薪者加入本公司的行列。

                .career-outer
                    h3 職缺名稱
                    ul.career-list
                        li
                            .career-tit 電訪人員
                            .career-intro 底薪21000+2000元（保障底薪），佣金%數業績奬金取其高
                        li
                            .career-tit 行政人員
                            .career-intro 底薪21000+2000元（保障底薪），佣金%數業績奬金取其高底薪21000+2000元（保障底薪），佣金%數業績奬金取其高
                .career-outer
                    ul.comp-list
                        li
                            h3 福利制度
                            ul
                                li 端午、中秋、年終（採每月業績提撥）三節獎金+國內外旅遊
                                li 服務滿一年即有特休
                        li
                            h3 上班地點
                            ul
                                li 高雄市鳳山西站捷運站2號出口正對面向（交通便利）

                        li
                            h3 上班時間
                            ul
                                li 9:00~12:00，12:00~13:15 中午休息，13:15~18:00


                a(href="contact01.html").btn.btn-blue 加入我們





    //- end each pages
