extends layout




//- start each pages
block container

    .breadcrumbs-lr
        .wrap
            ul
                li 
                    a(href="index.html") 首頁
                li 
                    a(href="news.html") 最新消息                    
                li.now 立榮控股獲首屆公司治理評鑑排名前百分之五

    //- news
    .container
        .sidebar
            .sidebar-title 最新消息
        .content
            .content-title 最新消息
            .news-con
                h2.news-title 立榮控股獲　首屆公司治理評鑑排名前百分之五
                    span.post-date 2015/09/01
                p 台灣已有部份企業進入成熟期，為達成產業升級目標，國發基金匡列新台幣200億元，設立併購投資基金，草案預計9月通過。國家發展委員會副主委林桓表示，現行法律並沒有限制陸資基金，但考量敏感性，從來沒有發生陸資基金來申請「實證既然不是問題，不用刻意說是問題，否則變成在製造問題。」
                p 他說，投資併購資金做的是投資，不是一翻兩瞪眼的採購，因此比政府更敏感，雖然併購基金作業要點沒有規定陸資不能來申請，但也從來沒有人會去嘗試，這是產業裡面的一種「潛規則」，比規定更有意義，因此不必擔心行政院最近推動強化經濟體質方案，院長毛治國也認為併購投資基金可行，並大力支持，國發會上午邀基金業者座談，說明實務作法及時程。

                a.backPre(href="news.html") 回列表


    //- end each pages
