extends layout


//- start each pages
block container

    .breadcrumbs-lr
        .wrap
            ul
                li 
                    a(href="index.html") 首頁
                li 
                    a(href="services01.html") 服務項目                    
                li.now 貸款方案

    //- news
    .container
        .sidebar
            .sidebar-title 服務項目
            ul
                li: a(href="services01.html") 貸款方案
                li: a(href="services02.html") 申請流程
                li: a(href="services03.html") 成功案例
                li: a(href="services04.html") 常見問題
        .content
            .content-title 貸款方案
            .services-con
                .con-50
                    .products-header
                        h2.products-title 資產活化專案一
                        span 從申請到撥款最快3個工作天
                        a(href="#",data-reveal-id="Modal-1").zoom
                            i.icon-zoom
                    .products-body
                        ul
                            li
                                .tit 最高額度
                                p 500萬
                                    span (若超過此金額可以個案討論)
                            li
                                .tit 還款期限
                                p 正常48期
                                    span (要再拉長可個案討論)
                            li
                                .tit 還款方式
                                p 採本息攤還
                                    span.mark (利率與銀行同)
                    a(href="contact01.html").btn.btn-blue 立即申請
                

                .con-50
                    .products-header
                        h2.products-title 資產活化專案2
                        span 從申請到撥款最快3個工作天
                        a(href="#",data-reveal-id="Modal-2").zoom
                            i.icon-zoom
                    .products-body
                        ul
                            li
                                .tit 最高額度
                                p 500萬
                                    span (若超過此金額可以個案討論)
                            li
                                .tit 還款期限
                                p 正常48期
                                    span (要再拉長可個案討論)
                            li
                                .tit 還款方式
                                p 採本息攤還
                                    span.mark (利率與銀行同)
                    a(href="contact01.html").btn.btn-blue 立即申請

                div(data-reveal ,aria-labelledby="modalTitle" ,aria-hidden="true" ,role="dialog")#Modal-1.reveal-modal
                    img(src="/assets/img/dm1.jpg",alt="資產活化，圓夢高手")
                    a.close-reveal-modal(aria-label="Close")&#215;

                div(data-reveal ,aria-labelledby="modalTitle" ,aria-hidden="true" ,role="dialog")#Modal-2.reveal-modal
                    img(src="/assets/img/dm1.jpg",alt="資產活化，圓夢高手")
                    a.close-reveal-modal(aria-label="Close")&#215;


            include pages






    //- end each pages
