extends layout


//- start each pages
block container

    .breadcrumbs-lr
        .wrap
            ul
                li 
                    a(href="index.html") 首頁
                li.now 申請流程

    //- news
    .container
        .sidebar
            .sidebar-title 服務項目
            ul
                li: a(href="services01.html") 貸款方案
                li: a(href="services02.html") 申請流程
                li: a(href="services03.html") 成功案例
                li: a(href="services04.html") 常見問題
        .content
            .content-title 申請流程
            .services-con
                .con-25
                    .con-inner
                        i.icon-ser.icon-ser1
                        h3 準備資料
                        ul
                            li 負責人雙証件
                            li 登記核準函
                            li 資產負債表
                            li 不動產資料

                .con-25
                    .con-inner
                        i.icon-ser.icon-ser2
                        h3 專人服務申請


                .con-25
                    .con-inner
                        i.icon-ser.icon-ser3
                        h3 回報額度


                .con-25
                    .con-inner.end
                        i.icon-ser.icon-ser4
                        h3 完成對保設定

            .services-con
                .con-25.center
                    .con-inner
                        i.icon-ser.icon-ser5
                        h3 撥款
                        p 申請到撥款<br />最快3個工作天


                a(href="contact01.html").btn.btn-blue 立即申請





    //- end each pages
