.contact-con
	margin: 20px 0
	overflow: hidden

	h2.title
		font-size: 20px
		color: $blue-lr
		padding-left: 30px
		background: url('/assets/img/sprit.png') 0 -900px no-repeat
	
	.contact-form
		border: 1px solid #ddd
		border-top: 5px solid $blue-lr
		padding: 20px 30px
		overflow: hidden
		p
			font-size: 13px
			color: #818181
		.con-div
			overflow: hidden
			clear: both
			margin-bottom: 20px
		.con-48
			width: 48%
			float: left
			margin-right: 2%
			overflow: hidden
			border-bottom: 1px solid #ddd
			label
				float: left
				line-height: 37px
				height: 37px
				width: 20%
				padding-left: 5px

			input
				float: left
				width: 79%
				border: none
				margin-bottom: 0
				box-shadow: none
			input[type="text"]:focus
				border: none







