.news-list
	margin: 20px 0
	ul
		li
			border-bottom: 1px dashed #ddd
			line-height: 44px
			height: 44px
			overflow: hidden
			a
				background:  
					image: url('/assets/img/sprit.png')
					position: 0 -245px
					repeat: no-repeat
				padding-right: 55px
				padding-left: 20px
				position: relative
				display: block
				&:hover
					background:
						position: 0 -185px


	

// news 內頁
.news-con
	margin: 20px 0
	.news-title
		color: $title-lr
		font-size: 18px
		border-bottom: 1px solid #ddd
		padding: 10px 80px 10px 0
		margin-bottom: 20px
		font-weight: 600
		position: relative
		.post-date
			font-weight: normal
			font-size: 15px
			top: initial
			right: 0
			bottom: 10px
	p
		line-height: 1.6




