.topbar-outer
	background-color: #f1f1f1
	height: 60px
	line-height: 60px
	border-bottom: 1px solid #ddd
	p
		float: left
	.quick-link
		float: right
		ul
			li
				display: inline-block
				margin-left: 10px
			a.apply-online
				color: #fff
				background-color: $blue-lr
				padding: 5px 8px
				border-radius: 5px
				box-shadow: -1px -1px 1px rgba(255,255,255,0.5)
				&:hover
					background-color: darken($blue-lr,10%)
			a.line-color
				color: $line-color
				&:hover
					color: darken($line-color, 10%)


// logo + menu 
.topbar-menu-outer
	height: 100px
	line-height: 100px
	.logo
		float: left
	.main-menu
		float: right
		ul
			li
				display: inline-block
				margin-left: 10px
		a
			color: #4c4c4c
			font-size: 18px
			font-weight: 600
			&:hover
				color: $blue-lr


#Modal-line
	width: 50%
	padding-top: 80px
	h3
		color: #fff
		font-size: 48px
		border-bottom: 1px solid #ddd
		padding-bottom: 10px
	ul
		padding-left: 20%
	li
		text-align: left
		color: #fff
		font-size: 24px
		margin-bottom: 20px
		img 
			margin-left: 20px