.pages
	margin: 10px 0 30px
	text-align: center
	clear: both
	ul
		li
			display: inline-block
			margin: 0 5px
			a
				border: 1px solid #ddd
				padding: 5px 12px
				display: block
				&:hover,
				&.pages-now
					background-color: $blue-lr
					color: #fff

.post-date
	color: #ababab
	position: absolute
	top: 0px
	right: 10px

.backPre
	display: inline-block
	border: 1px solid #ddd
	padding: 5px 12px
	&:hover
		background-color: $blue-lr
		color: #fff